body {
    font-family: 'Medula One', Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9b997;
    color: #2e2215;
}

#editor {
    border: 1px dashed #aa845b;
    min-height: 200px;
    max-width: 585px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-top:30px;
}

#editor:hover {
    border: 1px dashed #2e2215;
}
#editor:focus {
    border: 1px dashed #2e2215;
    outline: none;
}

.Menu {
    position: absolute;
    border-radius: 8px;
    padding: 10px;
    border: 1px dashed #2e2215;
    background-color: #ffca91;
}

select::-webkit-scrollbar {
    display: none;
  }

select{
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: top;
    height: 100%;
    background-color: #2e2215;
    color: white;
    border: none;
    padding: 8px 16px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button {
    font-family: 'Medula One';
    background-color: #2e2215;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    height: 100%;
}

button:hover {
    background-color: #45a049;
}

.toolbar {
    margin-bottom: 10px;
    height: 42px;
}

p {
    text-indent: 34px;
    margin: 0 0 10px 0;
}

/* fonts */
@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Medula One';
    src: url('font/Medula_One/MedulaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.MedulaOne{
    font-family: 'Medula One';
}

.BonaNova{
    font-family: 'Bona Nova';
}

.CutiveMono{
    font-family: 'Cutive Mono';
}

.Lexend{
    font-family: 'Lexend';
}
/*
p {
    border-radius: 4px;
    border: 1px dashed black;
}*/