body {
    font-family: 'Medula One', Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9b997;
    color: #2e2215;
}

span{
    tab-size: 5;
}

h3 {
    margin:3px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px dashed #2e2215;
    padding: 0;
}

#editor {
    border: 1px dashed #aa845b;
    min-height: 200px;
    max-width: 585px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-top:30px;
}

#editor:hover {
    border: 1px dashed #2e2215;
}
#editor:focus {
    border: 1px dashed #2e2215;
    outline: none;
}

.imgButton {
    width: 42px;
    background-color: #2e2215;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
    stroke: wheat;
}

.imgButton:hover {
    background-color: wheat;
    stroke:#2e2215;
}

.dragdrop
{
    font-size: 20pt;
    border-radius: 5px;
    border: 1px dashed #2e2215;
    padding: 10px;
    margin-right:20px;
    color: #2e2215;
}

.Menu {
    position: absolute;
    top: 130px;
    left: 20%;
    box-shadow: 10px 10px 30px black;
    border-radius: 8px;
    padding: 10px;
    border: 1px dashed #2e2215;
    background-color: wheat;
}

select::-webkit-scrollbar {
    display: none;
  }

Select:hover {
    background-color: wheat;
    color:#2e2215;
}

select{
    height: 40px;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: top;
    background-color: #2e2215;
    color: wheat;
    border: none;
    padding: 8px 16px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button {
    font-family: 'Medula One';
    background-color: #2e2215;
    color: wheat;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
}

button:hover {
    background-color: wheat;
    color:#2e2215;
}

.toolbar {
    margin-bottom: 10px;
    min-height: 40px;
    display: inline;
}

.heading{
    font-size: 22px;
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
}

p {
    text-indent: 34px;
    margin: 0 0 10px 0;
}

/* fonts */
@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('font/Bona_Nova/BonaNova-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Medula One';
    src: url('font/Medula_One/MedulaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.MedulaOne{
    font-family: 'Medula One';
}

.BonaNova{
    font-family: 'Bona Nova';
}

.CutiveMono{
    font-family: 'Cutive Mono';
}

.Lexend{
    font-family: 'Lexend';
}
.TimesNewRoman{
    font-family: 'Times New Roman', Times, serif;
}
/*
p {
    border-radius: 4px;
    border: 1px dashed black;
}*/