body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9b997;
    color: #2e2215;
}

#editor {
    border: 1px dashed #d9b997;
    min-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#editor:hover {
    border: 1px dashed #2e2215;
}
#editor:focus {
    border: 1px dashed #2e2215;
    outline: none;
}


button {
    background-color: #2e2215;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.toolbar {
    margin-bottom: 10px;
}

p {
    text-indent: 34px;
}